/* .container {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

.container img {
  width: 300px;
}

.wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px;
} */
